<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wallet</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
        <div>
                <a href="/index" style="margin-left: 5px;">Home </a>
                <a href="/generate" style="margin-left: 5px;">Generate wallet </a>
                <a href="/send" style="margin-left: 5px;">Send </a>
                <a href="/open" style="margin-left: 5px;">Open wallet</a>
                <a href="/balance" style="margin-left: 5px;">Balance</a>
            </div>
      <div class="container" style="text-align: center;">
          <h1>Balance</h1>
          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" type="text" id="address" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="node">Node url</label>
            <input class="form-control" type="text" value="http://localhost:3005" id="node" placeholder="Node url">
          </div>
          <div class="form-group">
            <label for="balance">Balance</label>
            <input type="text" class="form-control" id="balance">
          </div>
          <input type="button" id="get" value="Get" class="btn btn-primary">
          
      </div>    
  </body>

  <script type="application/javascript">
        $(document).ready(function () {
            $('#get').click(function (ev) {
                let address = $('#address').val();
                let nodeUrl = $('#node').val();
                $.ajax({
                type: "GET",
                content: "application/json; charset=utf-8",
                url: `http://localhost:3001/get-balance?address=${address}&nodeUrl=${nodeUrl}`,
                dataType: "json"
                }).done(function (data) {

                    $('#balance').val(JSON.parse(data).balance);                                        
                });
            });            
        });
    </script>
  
</html>