<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wallet</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
        <div>
            <a href="/index" style="margin-left: 5px;">Home </a>
            <a href="/generate" style="margin-left: 5px;">Generate wallet </a>
            <a href="/send" style="margin-left: 5px;">Send </a>
            <a href="/open" style="margin-left: 5px;">Open wallet</a>
            <a href="/balance" style="margin-left: 5px;">Balance</a>
            </div>
      <div class="container" style="text-align: center;">
        <h1>Wallet</h1>
        <form action="">
            <div class="form-group">
                <label for="private-key">Private key</label>
                <input type="password" id="private-key" class="form-control" placeholder="Private key">
            </div>
            <div class="form-group">
                <label for="sender">Sender</label>
                <input type="text" id="sender" class="form-control" placeholder="Sender Address">
            </div>
            <div class="form-group">
                <label for="recipient">Recipient</label>
                <input type="text" id="recipient" class="form-control" placeholder="Recipient Address">
            </div>
    
            <div class="form-group">
                <label for="value">Value</label>
            
                <input type="text" id="value" placeholder="Value to send" class="form-control">
            </div>
    
            <!-- <input type="button" value="Sign transaction" class="btn btn-default btn-success">
            <br>
            <textarea name="signedTransaction" id="signedTransaction" cols="30" rows="10" class="form-control"></textarea>
            <br> -->
    
            <div class="form-group">
                <label for="node">BlockchainNode</label>
                <input class="form-control" type="text" id='node' placeholder="Blockchain node" value="http://localhost:3005">
            </div>
            <div class="form-group">
                <input type="button" id="send" value="Send" class="btn btn-default btn-success">
            </div>
        </form>
        
        
      </div>    
  </body>

  <script type="application/javascript">
    $(document).ready(function () {
        var nodeUrl = $('#node').val();
        var send = $('#send');
        send.click(function (ev) {
            let senderAddress = $('#sender').val();
            let recipientAddress = $('#recipient').val();
            let value = $('#value').val();
            let privateKey = $('#private-key').val();
            let nodeUrl = $('#node').val();
            $.ajax({
                type: "POST",
                content: "application/json; charset=utf-8",
                url: 'http://localhost:3001/send-transaction',
                data: {
                    from: senderAddress,
                    to: recipientAddress,
                    value: value,
                    privateKey: privateKey,
                    nodeUrl: nodeUrl

                },
                dataType: "json"
                }).done(function (data) {
                    console.log(data);
                    let obj = JSON.parse(data);
                    if (obj.response.toString().startsWith('Invalid')) {
                        
                        $('.container')
                            .append(
                                `<div class="msg" style="background-color: red; padding 10px; border: 1px solid black; 
                                    font-weight: 800; cursor: pointer;">
                                    Insufficient funds
                                </div>`
                            );

                            $('.msg').click(function (ev) {
                                $(this).remove();
                            })
                    }
                }).fail(err => {
                    console.log(err)
                });
        })
    });
  </script>

</html>